.btn {
    min-width: 50%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.btn-close-email {
    min-width: 100%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.btn-color {
    color: white;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 2px;
}