.dark-mode-button {
  position: absolute;
  right: 0%;
  width: 45px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.dark-mode-button:hover:focus {
  color: var(--light);
  background: var(--dark);

  transition: 0.3s;
  transform: translateY(-5%);
}
